{% extends "tetristats/_basepage.html" %}

{% block title %}
Fire Tetris: Frequently Asked Questions</title>
{% endblock %}

{% block content %}
<h1>Frequently Asked Questions</h1>

<h2>What is Fire Tetris?</h2>

<p>
Fire Tetris is a large scale art installation, set to debut at
<a href='http://burningman.org/'>Burning Man 2015</a>.  Instead of playing
tetris on a boring computer screen, you'll be able to play it on a huge
(10' wide, 20' high) screen made of real flames!
</p>

<h2>How is that even possible?</h2>

<p>
Propane, metal, and electricity: we've created the flamepixel, which is a
1' x 1' aluminum box that holds a computer-controlled flame head.  On
command from our control system, we can turn the fire in the box on and off
several times a second.  Now we just need to build 200 flamepixels and assemble
them into a huge frame, and we'll have the perfect playing field for tetris!
</p>

<h2>Why is gas measured in "cats"?</h2>

<p>
We have a prototype flamepixel, the basic building block of Fire Tetris,
but we have not yet measured its gas consumption.  So for now, we made up
a unit.  1 "cat" is the gas consumed by one flamepixel unit burning for one
second. It's full of cats!
</p>

<h2>That sounds awesome!  How can I help?</h2>

<p>
If you live in or near Montréal and want to help build this thing, get in
touch at <a href='mailto:firetetris@modernduck.com'>firetetris@modernduck.com</a>.
We need people with all kinds of skills and interests: metal working,
programming, fundraising, project management, logistics (especially if you've
been to Burning Man before!)  Building is planned to start in earnest in
mid-March.
</p>

<p>
Also, we'll be fundraising for the project in the spring or early summer.
Join our mailing list to find out when we're doing this, and help spread the word!
</p>

<h2>Your gameplay sucks! Can you fix it?</h2>

<p>
Yes, we can!  We know this demo version of tetris is a bit rough around the
edges, so please let us know what's bothering you about it and we'll
fix it before Burning Man!
</p>

<h2>How can I stay in touch?</h2>

<p>{% include "tetristats/_mailchimp.html" %}</p>

<p>You can email us at <a href='mailto:firetetris@modernduck.com'>firetetris@modernduck.com</a> any time.</p>
{% endblock %}
