{% extends "tetristats/_basepage.html" %}

{% block title %}
Fire Tetris Stats!</title>
{% endblock title %}

{% block content %}
<style>
  .table-nonfluid { width: auto; }
</style>

<div class='page-header'>
  <h1>Fire Tetris Stats!</h1>
</div>

<div class='row'>
<div class='col-md-7'>

<div class='page-header'>
  <h2>Recent plays:</h2>
</div>
<table class='table table-striped table-nonfluid'>
  <thead>
    <tr>
      <th>Gas Consumption</th>
      <th>Score</th>
      <th>Lines Cleared</th>
      <th>Play Time</th>
      <th></th>
    </tr>
  </thead>
  {% for stat in stats %}
    <tr>
      <td>{{ stat.total_gas|floatformat }} cats</td>
      <td>{{ stat.score }}</td>
      <td>{{ stat.lines }}</td>
      <td>{{ stat.time }} s</td>
      <td>{% if not stat.complete %}(in progress){% endif %}</td>
    </tr>
  {% endfor %}
</table>

</div>
<div class='col-md-5'>

<div class='page-header'>
  <h2>Statistics:</h2>
</div>
<table class='table table-striped table-nonfluid'>
  <tr><td>Average play time</td><td align='right'>{{ agg.time__avg|floatformat }} s</td></tr>
  <tr><td>Average gas per game</td><td align='right'>{{ agg.total_gas__avg|floatformat }} cats</td></tr>
  <tr><td>Average gas rate</td><td align='right'>{{ agg.gas_rate__avg|floatformat }} cats/s</td></tr>
  <tr><td>High Score</td><td align='right'>{{ agg.score__max }}</td></tr>
  <tr><td>Most lines cleared</td><td align='right'>{{ agg.lines__max }}</td></tr>
  <tr><td>Longest play</td><td align='right'>{{ agg.time__max }} s</td></tr>
  <tr><td>Most gas per game</td><td align='right'>{{ agg.total_gas__max|floatformat }} cats</td></tr>
</table>

</div>
</div>

<div class='well'>
  <iframe width="640" height="480" frameborder="0" seamless="seamless" scrolling="no" src="https://plot.ly/~JodyMcintyre/83.embed?width=640&height=480" class="center-block"></iframe>
</div>

<p>{% include "tetristats/_mailchimp.html" %}</p>

{% endblock %}
