<title>Fire Tetris Stats!</title>

<h1>Fire Tetris Stats!</h1>

<h2>Recent plays:</h2>
<table border='1'>
    <tr>
      <th>Gas Consumption</th>
      <th>Score</th>
      <th>Lines Cleared</th>
      <th>Play Time</th>
      <th></th>
    </tr>
  {% for stat in stats %}
    <tr>
      <td align='right'>{{ stat.total_gas }} cats</td>
      <td align='right'>{{ stat.score }}</td>
      <td align='right'>{{ stat.lines }}</td>
      <td align='right'>{{ stat.time }} s</td>
      <td>{% if not stat.complete %}(in progress){% endif %}</td>
    </tr>
  {% endfor %}
</table>

<h2>Statistics:</h2>
<table border='1'>
  <tr><td>Average play time</td><td align='right'>{{ agg.time__avg }} s</td></tr>
  <tr><td>Average gas per game</td><td align='right'>{{ agg.total_gas__avg|floatformat }} cats</td></tr>
  <tr><td>Average gas rate</td><td align='right'>{{ agg.gas_rate__avg|floatformat }} cats/s</td></tr>
  <tr><td>High Score</td><td align='right'>{{ agg.score__max }}</td></tr>
  <tr><td>Most lines cleared</td><td align='right'>{{ agg.lines__max }}</td></tr>
  <tr><td>Longest play</td><td align='right'>{{ agg.time__max }} s</td></tr>
  <tr><td>Most gas per game</td><td align='right'>{{ agg.total_gas__max|floatformat }} cats</td></tr>
</table>

<iframe width="640" height="480" frameborder="0" seamless="seamless" scrolling="no" src="https://plot.ly/~JodyMcintyre/83.embed?width=640&height=480"></iframe>

<p>{% include "tetristats/_mailchimp.html" %}</p>
